{% extends 'restapi/master.html' %}
{% block content %}
  <div class="container">
    <h3 class="text-center text-primary">Update Book Info</h3>
    <hr>
    <div class="table-responsive">
      <form class="" action="{% url 'restapi:update' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="book_id" value="{{book.id}}">
        <div class="row">
            <div class="col form-group">
              <label for="title">Book Title</label>
            </div>
            <div class="col form-group">
              <input type="text" name="title" value="{{book.title}}" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
              <label for="price">Book Price</label>
            </div>
            <div class="col form-group">
              <input type="number" name="price" value="{{book.price}}" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
              <label for="author">Author Name</label>
            </div>
            <div class="col form-group">
              <input type="text" name="author" value="{{book.author}}" class="form-control">
            </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="submit" name="" value="Update" class="btn btn-info btn-md">
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
